:root {
    --primary-color:#212121;
    --secondary-color:#757575;
    --dark-gray:#2F303A;
    --accent-color:#2196F3;
    --header-border:#ECECEC;
    --card-border-color:#EEEEEE;
    --common-white:#FFFFFF;
    --back-color:#F5F4FA;
    --clear-white:rgba(100%,100%,100%,60%);
    --logo-color:#000000;
    --button-hover-color:#188CE8;
    --shadow-color:rgba(0, 0, 0, 0.25);
    --logo-font:"Raleway",sans-serif;
    --main-font:"Roboto",sans-serif;
    --primary-title-size:44px;
    --secondary-title-size:36px;
    --title-size:26px;
    --primary-text-size:14px;
    --secondary-text-size:16px;
    --bold:700;
    --extra-bold:900;
    --medium:500;
    --regular:400;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    width: 1600px;
}

h1,
h2,
h3,
p,
ul {
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


.header {
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--common-white);
    border-bottom: 1px solid var(--header-border);  
} 

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    margin-right: 93px;
    font-family:var(--logo-font);
    font-weight: var(--bold);
    text-decoration: none;
    font-size: var(--title-size);
    line-height: 1.19;
    letter-spacing: 0.03em; 
}


.logo-web {
    color: var(--accent-color);
}
.studio {
    color: var(--logo-color);
}

.list {
    list-style: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--medium);
    font-size: var(--primary-text-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
} 

.navigation-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: var(--text-size); 
}

.current {
    color: var(--accent-color);
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.coord-link:hover,
.coord-link:focus {
    color: var(--accent-color);
}


.coord-list {
    display: flex;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--medium);
    font-size: var(--primary-text-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-color);
}

.coord-item:not(:last-child) {
    margin-right: 50px;
}

.coord-link {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Секція "Ефективні рішення для вашого бізнесу" */

.section {
     padding: 200px 452px;
     background-color: var(--dark-gray);
     text-align: center;

}

.section-title {
    margin-bottom: 30px;
    font-family: var(--main-font);
    font-weight:var(--extra-bold);
    font-size: var(--primary-title-size);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--common-white);
}

.button { 
    background-color: var(--accent-color);
    color: var(--common-white);
    border:none;
    border-radius: 4px;
    padding: 10px 32px;
    font-family: var(--main-font);
    font-weight: var(--bold);
    font-size: var(--secondary-text-size);
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--shadow-color);
}

.button:hover,
.button:focus {
    background-color: var(--button-hover-color);
    color: var(--common-white);
}


/* <--Секція "Особливості"--> */

.trait {
    padding-top: 94px;
    padding-bottom: 94px;   
}


.trait-title {
    display: none;
    text-align: center;
}

.trait-list {
    display:flex;
}

.trait-list-item {
    margin-right: 30px;
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: var(--primary-text-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
}

.trait-list-item:last-child {
    margin-right: 0px;
}

.trait-list-title {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--bold);
    font-size: var(--primary-text-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* Секція "Чим ми займаємося" */

.activity {
    padding-bottom: 94px;
    background-color: var(--common-white);
}

.activity-title {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--bold);
    font-size: var(--secondary-title-size);
    line-height: 1.16;
    text-align: center;
    color:var(--primary-color);
    letter-spacing: 0.03em;
}

.activity-list {
    display: flex;
    background-color: var(--common-white);
}

.activity-item:not(:last-child) {
    margin-right: 30px;
}

.activity-page {
    display: block;
}

/* Секція "Наша команда" */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--back-color);
}

.team-title {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: var(--bold);
    font-size: var(--secondary-title-size);
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-color);
}

.team-list {
    display: flex;
}

.team-item {
    margin-right: 30px;
    background-color: var(--common-white);
    box-shadow: 0px 4px 4px var(--shadow-color);
    border-radius: 0px 0px 4px 4px;
}

.team-item:last-child {
    margin-right: 0px;
}

.team-item-photo {
    display: block;
    margin-bottom: 30px;
}

.team-item-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--medium);
    font-size: var(--secondary-text-size);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-color);
    margin-bottom: 10px;
}

.major {
    text-align: center;
    font-family: var(--main-font);
    font-size: var(--secondary-text-size);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-color);
    margin-bottom: 30px;
}

/* FOOTER */

.footer,
.footer-portfolio {
    background-color: var(--dark-gray);
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-address {
    padding: 0px; 
}

.address {
    text-decoration: none;
}

.address-list {
    margin-bottom: 9px;
}

.address-list:last-child {
    margin-bottom: 0px;
}


.footer-address-link {
    text-decoration: none;
    color:var(--common-white);
    font-family: var(--main-font);
    font-style: normal;
    font-size: var(--primary-text-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address-link:hover,
.footer-address-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}


.address-link {
    text-decoration: none;
    color: var(--clear-white);
    font-family: var(--main-font);
    font-style: normal;
    font-size: var(--primary-text-size);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-shadow: 0px 4px 4px var(--shadow-color);
}


.logo-footer {
    font-family: var(--logo-font);
    font-weight: var(--bold);
    text-decoration: none;
    font-size: var(--title-size);
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;
}

.studio-footer {
    color:var(--common-white);
    
}
 /* < -- main for portfolio --> */

.portfolio-main {
    background-color: var(--common-white);
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--common-white);
}

.portfolio-title {
    text-align: center;
    display: none;
}

.btn {
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--medium);
    font-size: var(--secondary-text-size);
    line-height: 1.62;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 0.03em;
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--shadow-color);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--common-white);
}

.btn {
    padding: 6px 22px;
}

.btn:first-child {
    padding: 6px 25px;
}


.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-div {
    padding: 20px 24px;
    text-decoration: none;
    border: 1px solid var(--card-border-color);

}


.project-page {
    display: block;
}

.project-div-title {
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: var(--bold);
    font-size: var(--text-size);
    line-height: 2.1;
    letter-spacing: 0.06em;
    color: var(--main-font);
}

.project-div-text {
    font-family: var(--main-font);
    font-size: var(--secondary-text-size);
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.project-link {
    text-decoration: none;
    color: inherit;
}

